# Node.js dependencies
node_modules/

# Environment variables and secrets
.env
.env.local
.env.*.local

# Operating system files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# IDE specific files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# Do NOT ignore the dist directory
# /dist
# GitHub Actions need the bundled code in the repository